<section>
  <div class="page-header">
    <h1>{{vm.customer._id ? 'Edit Customer' : 'New Customer'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.customerForm" ng-submit="vm.save(vm.form.customerForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-user cust-profile" ng-class="{'text-primary': referred, 'text-danger': !referred}"></i>
          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="firstName">First Name</label>
              <input name="firstName" type="text" ng-model="vm.customer.firstName" id="firstName" class="form-control">
              <div ng-messages="vm.form.customerForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Customer name is required.</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="lastName">Last Name</label>
              <input name="lastName" type="text" ng-model="vm.customer.lastName" id="lastName" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="city">City</label>
              <input name="city" type="text" ng-model="vm.customer.city" id="city" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="country">Country</label>
              <input name="country" type="text" ng-model="vm.customer.country" id="country" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group">
              <label class="control-label" for="phone">Phone</label>
              <input name="phone" type="text" ng-model="vm.customer.phone" id="phone" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <input name="email" type="text" ng-model="vm.customer.email" id="email" class="form-control">
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group">
              <label class="control-label" for="referred">Referred</label>
              <input name="referred" type="checkbox" ng-model="vm.customer.referred" id="referred" class="form-control checkbox-left">
            </div>
            <div class="form-group">
              <label class="control-label" for="channel">Channel</label>
              <input name="channel" type="text" ng-model="vm.customer.channel" id="channel" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="industry">Industry</label>
              <input name="industry" type="text" ng-model="vm.customer.industry" id="industry" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">{{vm.customer._id ? 'Update' : 'Save & Close'}}</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
